.mobile_on
{
	visibility: hidden;
}
.responsive_menu.login
{
	min-width: 16px;
	width: auto;
}
*, *:after, *::before {
	box-sizing: border-box;
}
td.moderation {
	width: 8%;
}

@media screen and (min-width: 240px) and (max-width: 640px) {
	/* Considering something trying to be bad boy and editing body (especially portals!) */
	body {
		min-width: 240px;
	}
	
	/* Calendar Time */
	#month_grid, #month_grid table,
	#main_grid
	{
		float: none;
		width: 100%;
	}
	#main_grid {
		margin-left: 0 ;
	}
	
	/* Load menu icons */
	.responsive_menu {
		background: url(../images/responsive_menu.png) no-repeat -5px -5px;
		height: 16px;
		width: 16px;
		display: inline-block;
	}
	.responsive_menu.admin {
		background-position: -31px -5px;
	}
	.responsive_menu.calendar {
		background-position: -57px -5px;
	}
	.responsive_menu.forum {
		background-position: -5px -31px;
	}
	.responsive_menu.help {
		background-position: -31px -31px;
	}
	.responsive_menu.home {
		background-position: -57px -31px;
	}
	.responsive_menu.login {
		background-position: -5px -57px;
	}
	.responsive_menu.logout {
		background-position: -31px -57px;
	}
	.responsive_menu.mlist {
		background-position: -57px -57px;
	}
	.responsive_menu.moderate {
		background-position: -83px -5px;
	}
	.responsive_menu.pm {
		background-position: -83px -31px;
	}
	.responsive_menu.profile {
		background-position: -83px -57px;
	}
	.responsive_menu.register {
		background-position: -5px -83px;
	}
	.responsive_menu.search {
		background-position: -31px -83px;
	}

	/* If it has more items, make some margin */
	#main_menu {
		margin: -15px 0 0 0;
	}
	.dropmenu li {
		margin: 0 0 5px 0;
	}
	/* Do not hover or show them... */
	#menu_nav .dropmenu li a.active, #menu_nav .dropmenu li a.active:hover,
	#menu_nav .dropmenu li:hover, #menu_nav .dropmenu li a:hover,
	#menu_nav .dropmenu li a.firstlevel:hover, #menu_nav li:hover,
	#menu_nav .dropmenu li:hover, #menu_nav .dropmenu li:hover a.firstlevel,
	#main_menu .dropmenu li a.active, #main_menu .dropmenu li a:hover,
	#main_menu .dropmenu li:hover ul, #main_menu .dropmenu li ul {
		background: none;
	}
	.bbc_img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (max-width: 480px) {
	table.table_list tbody.content td.icon, a.unreadlink, table.table_list a.collapse,
	#index_common_stats
	{
		display: none;
	}
	.poster li.stars
	{
		display: none;
	}
	#manage_boards .cat_bar
	{
 		margin-top: 10px;
	}
	#manage_boards .windowbg
	{
		line-height: 3.2em;
	}
	#manage_boards ul
	{
		max-height: 120em;
		padding: 0 0 10px 0;
	}
	#manage_boards dd, #manage_boards dt
	{
		width: 100%;
	}
	#manage_boards dt
	{
		line-height: 1.6em;
	}
}

@media screen and (max-width: 640px) {
	#messageindex table.table_grid thead tr.catbg th:nth-of-type(2):not(.no_topics)
	{
		background-image: url(../images/theme/main_block.png);
		background-position:  0 -280px;
		background-repeat: no-repeat;
	}
	td.moderation {
		width: 15%;
	}
	.nav_bar_inner, .top_bar_inner, .headerm_inner
	{
		width: 100%;
	}
	.headerm, .headerm_inner
	{
		height: auto;
	}
	.mobile_on
	{
		visibility: visible;
	}
	.logo_banner
	{
		text-align: center;
		max-width: 640px;
	}
	.logo_banner a > img
	{
		max-width: 90%;
	}
	.quick_search_holder, #search_form
	{
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.dropmenu li
	{
		width: 100%;
		text-align: center;
	}
	.dropmenu li li, .dropmenu li li li
	{
		width: 100%;
		text-align: left;
	}
	.dropmenu li ul
	{
		width: 80%;
		margin-left: 15%;
	}
	.home_image
	{
		clear: both;
	}
	#siteslogan, img#smflogo, .contact_info,
	.hidden, .icon, .stats, #posting_icons, #mlist th, .icon1, .icon2,
	.tborder .topic_table th.first_th, .tborder .topic_table th.last_th,
	.tborder .topic_table td.lastpost,
	#menu_toggle, .features_image,
	em.smalltext,
	#main_menu .dropmenu span.firstlevel, #main_menu .dropmenu li:hover ul,
	.poster li.avatar,
	td.lastpost
	{
		display: none;
	}
	#statistics .stats,
	#topic_icons p,
	.enhanced select,
	input.enhanced
	{
		display: block;
	}
	#stats_left, #top_posters, #top_topics_replies, #top_topics_starter,
	#stats_right, #top_boards, #top_topics_views, #most_online,
	#popularposts, #popularactivity
	{
		width: 100%;
		float: none;
	}
	#report_post input {
		width: 95%;
		min-height: 50px;
	}
	#topic_icons p
	{
		width: 100%;
	}
	h3.catbg #quick_search form
	{
		margin: 0 0 8px 0;
		padding: 0;
	}
	h3.catbg #quick_search form input
	{
		margin: 0 0 12px 0;
	}
	h3.catbg #quick_search form select option
	{
		padding: 4px;
	}
	h3.catbg #quick_search form .button_submit
	{
		margin: 0 3px;
	}
	#credits_page
	{
		padding-top: 35px;
	}
	.features_switch
	{
		margin: -20px 0 0 5px;
	}
	.features h4
	{
		margin: -10px 0 0 0;
		padding: 0 0 10px 0;
	}
	.features p
	{
		margin: 0;
		padding: 0;
		min-height: 0;
		max-height: 5.2em;
		overflow: auto;
	}
	.mark_read .buttonlist
	{
		float: none;
		margin: 0 auto;
	}
	.mark_read .buttonlist li
	{
		width: auto;
	}
	#advanced_search
	{
		text-align: left !important;
	}
	#advanced_search dt, #advanced_search dd
	{
		width: 100%;
		float: none;
		text-align: left;
		margin: 0;
	}
	.login dt, .login dd
	{
		float: none;
		text-align: left;
		width: 90%;
	}
	#advanced_search dl#search_options
	{
		width: 100%;
	}
	#searchform .input_text, select
	{
		width: 95%;
		padding: 5px 0;
	}
	.ignoreboards
	{
		width: 100% !important;
		float: none !important;
	}
	#searchBoardsExpand
	{
		overflow: hidden;
	}
	/* Since you asked nicely */
	#main_menu .dropmenu li {
		width: auto !important;
	}
}

@media screen and (max-width: 767px)
{
	.mark_read {
		display: inline-block;
	}
	body
	{
		padding: 0;
		min-width: 200px;
		max-width: 720px;
	}
	#wrapper, div#wrapper
	{
		width: 100%;
		min-width: 240px;
		max-width: 720px;
	}
	#header
	{
		min-height: 200px;
	}
	div#upper_section div.user
	{
		text-align: center;
		float: none;
		width: 100%;
	}
	div#upper_section div.user p, div#upper_section div.user p > .avatar
	{
		max-width: 100px;
		max-height: 100px;
		float:  none;
		margin: 0 auto;
		text-align: center;
	}
	#upper_section div.news
	{
		width: 100%;
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	img.icon 
	{
		display: inline-block;
	}
	#basicinfo, #detailedinfo, .modblock_left, .modblock_right, #live_news, #supportVersionsTable
	{
		width: 100%;
		float: none;
		margin: 0 0 3px;
		box-sizing: border-box;
		overflow: hidden;
	}
	.postarea, .moderatorbar
	{
		width: 100%;
		margin: 0;
	}
	.poster
	{		
		width: 100%;
		float: none;
		text-align: center;
	}
	.poster li.avatar
	{
		border: none;
	}
	.poster li.avatar img
	{
		width: 50px;
		height: 50px;
	}
	.poster button
	{
		margin: -15px 0 5px;
	}
	.poster h4
	{
		margin: 0 0 0 1em;
	}
	.poster li
	{
		margin: 0 0 1px;
	}
	.poster li.blurb, .poster li.postcount,
	.poster li.im_icons, .poster  li.title, .poster li.postgroup, .poster li.karma,
	.poster li.karma_allow, .poster li.gender, .poster li.custom, .poster li.profile,
	#forumposts span#author,
	div#upper_section div.user ul li:nth-of-type(4)
	{
		display: none;
	}
	.login
	{
		width: auto;
	}
	.login dt, .login dd {
		text-align: left;
	}
	#advanced_search dt, #advanced_search dd
	{
		width: 100%;
		float: none;
		text-align: left;
	}
	dl
	{
		overflow: hidden;
	}
	dd, dt
	{
		float: none;
		width: 100% !important;
		margin: 0;
		overflow: hidden;
		text-align: left;
	}
	dl.settings dd input.input_text, dl.settings dt input.input_text
	{
		width: 100%;
	}
	dd > input, dd > textarea, dd > select{
		width: 100%;
	}
	.inner
	{
		padding: 1em .5em 2px .5em;
		margin: 0;
	}
	.signature, .attachments
	{
		width: 100%;
		margin: 1em 0 0;
		padding: 1em 1em 3px;
		box-sizing: border-box;
	}
	.buttonlist ul li
	{
		margin: 2px;
	}
	.buttonlist ul li a span
	{
		height: auto;
	}
	.postarea div.flow_hidden {
		border-top: 1px solid #ccc;
		padding: 0 10px;
	}
	.keyinfo
	{
		background: none;
		width: 100%;
		float: none;
		padding: 3px 0;
		min-height: 30px;
		box-sizing: border-box;
	}
	.keyinfo h5
	{
		margin-top: 5px;
	}
	.buttonlist ul li
	{
		margin: 2px 0;
	}
	.buttonlist ul li a span
	{
		height: auto;
	}
	#quick_tasks li
	{
		height: auto !important;
		width: 100% !important;
		padding: 0;
	}
	#basicinfo, #detailedinfo, .modblock_left, .modblock_right, #live_news, #supportVersionsTable
	{
		width: 100% !important;
		float: none;
		margin: 0 0 3px;
		box-sizing: border-box;
		overflow: hidden;
	}
	#main_admsection #basicinfo img.avatar {
		float: none;
	}
	#main_admsection #basicinfo h4
	{
		width: 100%;
	}
	#left_admsection
	{
		margin: 0 0 8px;
		padding: 0 0 5px;
		border-bottom: 3px solid #dbe4ef;
		float: none;
		width: 100%;
	}
	#adm_submenus
	{
		padding-left: 0;
	}

	/* some dirty fix for SP :)*/
	#sp_left, #sp_right, #sp_center
	{
		width: 100%;
		display: block;
	}
	form#postmodify .roundframe
	{
		padding: 0 5%;
	}
	#top_section
	{
		text-align: center;
	}
	h1.forumtitle, img#smflogo
	{
		float: none;
		margin: 3px auto 0;
	}
}

@media screen and (max-width: 1024px)
{
	#wrapper, div#wrapper
	{
		min-width: 95%;
	}
	table.table_list tbody.content td.lastpost, .topic_table table tbody tr td.lastpost
	{
		width: 30%;
	}
	table.table_list tbody.content td.stats {
		display: none;
	}
	#basicinfo img.avatar, #main_admsection #basicinfo img.avatar {
		width: 100px;
	}
	object#quick_search {
		display: none;
	}
}